<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django Miniblog
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/" title='home'>🏠</a> |
        <a href="/about" title='about'>🤔</a> |
        <a href="/posts" title='posts'>📰</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>