{% extends 'layout.html' %}

{% block title %}
    Sign Up | Register
{% endblock %}

{% block content %}
    <h1>Sign Up | Register</h1>
    <form action="" method="post">
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" value="{{ username }}">

        <label for="email">Email: </label>
        <input id="email" type="email" name="email" value="{{ email }}">

        <label for="password">Password: </label>
        <input id="password" type="password" name="password" value="{{ password }}">
        
        <input type="submit" value="Submit">
    </form>
{% endblock%}