{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
        <h1>Posts</h1>
        
        {% for blogpost in blogposts %}
            <article class="post">
                <h2>
                    <a href="{% url 'posts:page' slug=blogpost.slug %}">
                        {{blogpost.title}}
                    </a>                    
                </h2>
                <p>{{blogpost.date}}</p>
                <p>{{blogpost.body}}</p>
            </article>
        {% endfor %}
    </section>
{% endblock%}